div {
  /* outline: 1px dashed lime; */
  margin: 0;
  /* padding: 0;  */
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.headRegister .container {
  background-color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #146aeb;
}

.headRegister span {
  color: black;
}

.headRegister .container {
  justify-content: space-between;
}

.showcaseRe {
  /* min-height: 557px; */
  min-height: 570px;
  background: #146aeb;
  color: white;
  justify-content: center;
  text-align: center;
  display: flex;
}

.showcaseRe .container {
  flex-flow: column;
  align-items: center;
}

/* register........................................... */

.register {
  display: flex;
  color: black;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 5px;
  /* margin: 50px; */
  /* width: 360px; */
}

.title {
  background-color: #146aeb;
  min-height: 20px;
  margin: 0;
}

.alternative {
  color: black;
  width: 300px;
  margin-right: 30px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alternativeWord h3 {
  /* margin: 0 0 20px 0; */
  margin: 0px;
  color: gray;
}

.alternative img {
  width: 300px;
  height: 60px;
  margin: 20px 0 0 0;
}

.whiteBox {
  height: 480px;
  width: 800px;
  background: white;
  border-radius: 10px;
}

.insideWhiteBox {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
}

.registerButton {
  justify-content: space-between;
  margin-top: 5px;
}

.registerButton button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 100px;
}

.footRegister {
  /* min-height: 60px; */
  color: whitesmoke;
  background-color: skyblue;
  /* background-color: #146aeb; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

/* ที่กรอกข้อมูล................................. */

.realName2,
.surName2,
.phoneNumber2,
.email2,
.password2,
.confirmPassword2 {
  /* background-color: red; */
  display: flex;
}

.realName,
.surName,
.phoneNumber,
.email,
.password,
.confirmPassword {
  margin: 10px;
}

.confirmPassword input {
  margin: 0px;
}

.register label {
  margin-bottom: 5px;
}

.register input {
  height: 20px;
  width: 250px;
}
